/* ============ GLOBAL ============ */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #FFF5F7; /* fond rose pastel */
  color: #333;
}

.btn-primary {
  background-color: #f78fb3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #e6679c
}
/* ============ FORM CONTAINER ============ */
.page-container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-card {
  background-color: #ffeef1;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 1px #FFD0D7;
  text-align: center;
  width: 300px;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #FEE4E8;
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
  font-size: 14px;
}

.login-card button {
  width: 100%;
  margin-top: 10px;
}
.input-icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-icon input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* espace pour l'icône à gauche */
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.input-icon svg {
  position: absolute;
  left: 12px;
  color: #aaa;
  pointer-events: none;
}

.card {
  background-color: #ffeef1;
  border: 1px solid #FFD0D7;
  padding: 2rem;
  border-radius: 12px;
  width: 800px;
}

.card h2 {
  color: #2D3436;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card form label {
  font-weight: bold;
}
.card form input,
form select,
form textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem 1rem;
  margin-bottom: 1.2rem;
}
.card form button {
  background-color: #f78fb3;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 12px;
  width: 100px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

/* ============ NAVBAR ============ */
.navbar {
  background-color: #FFD0D7;
  color: #2D3436;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #f0cdda;
  padding: 0rem 2rem;
}

.navbar-logo {
  height: 100px;
    transform: scale(1.2); /* zoom de 20% */
  transform-origin: left center;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}
.navbar-buttons button {
    background: none;
    border: none;
    color: #2D3436;
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    margin: 0 10px;
    transition: color 0.3s;
}

.navbar-buttons button:hover {
    color: #f78fb3;
    text-decoration: underline;
}


/* ============ ANIME CARDS ============ */
.anime-list-container {
  margin-left: 20%;
  margin-right: 20%;
}
.anime-list-nav{
  width: 100%;
  text-align: right;
}
.anime-list-nav button {
  margin-right: 10px;
}
.animes-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0px 20px 0px;
  justify-content: center;
}
.anime-filter{
  border-radius: 8px;
  background-color: #FEF0F3;
  padding: 5px;
  border: none;
  border: 1px solid #FFD0D7;
}
.anime-card {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #FEF0F3;
  border-radius: 25px;
  box-shadow: 0px 0px 4px 1px #FFD0D7;
  gap: 20px;
}

.anime-left {
  width: 150px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}

.anime-left img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.anime-center {
  flex: 1;
  display: flex;
  padding: 20px 0px 20px 0px;
  flex-direction: column;
  gap: 8px;
}

.anime-right {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 0px;
}

.anime-card:hover {
  transform: translateY(-5px);
}

.anime-card h3 {
  margin-top: 0;
  color: #2D3436;
}

.anime-card button {
  margin-right: 5px;
  margin-top: 10px;
}

/* ============ ANIME DETAILS ============ */
.anime-detail {
  max-width: 800px;
  color: #2D3436;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffeef1;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 1px #FFD0D7;
  font-family: 'Segoe UI', sans-serif;
  color: #2d3436;
}
.anime-title {
  font-size: 2rem;
  margin-bottom: 24px;
  text-align: center;
  color: #2D3436;
}

.anime-detail-content {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.anime-detail-image {
  width: 250px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
}

.anime-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 1rem;
  line-height: 1.5;
}
